/* https://www.colorbox.io/#steps=6#hue_start=254#hue_end=309#hue_curve=easeInQuad#sat_start=15#sat_end=77#sat_curve=easeOutCubic#sat_rate=130#lum_start=100#lum_end=73#lum_curve=easeOutQuad#minor_steps_map=0 */

/* {
    "0": "#d9cdff",
    "5": "#b298fd",
    "10": "#8f64fc",
    "20": "#7728f5",
    "30": "#8b0de8",
    "40": "#b602d4",
    "50": "#ba009e"
} */

body {
  margin-top: 10%;
  display: flex;
  color: #fff;
  font-family: sans-serif;
  background: #d9cdff;
}

#sidebar {
  margin-left: 2.5%;
  background: #7728f5;
  padding: 10px;
  width: 15%;
}

/* grabbed from w3schools */

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

/* end grabbed section */

td {
  /* width: 25px; */
  background: #7728f5;
  font-size: 0.8em;
  color: #7728f5;
  user-select: none;
}

td:hover {
  background: #8b0de8;
  color: #8b0de8;
}

.flag {
  background: #ba009e;
  color: #ba009e;
}

.flag:hover {
  background: #b602d4;
  color: #b602d4;
}

.revealed,
.revealed:hover {
  background: #b298fd;
}

table {
  table-layout: fixed;
  margin: auto;
  width: 500px;
  background: #b298fd;
}

body {
  perspective: 250px;
}
