/* Coolors Exported Palette - coolors.co/c0cfdb-75b4d6-55a4c6-a03b43-193142 */

/* RGB */
/* $color1: rgba(192, 207, 219, 1); white
$color2: rgba(117, 180, 214, 1); tissue paper blue
$color3: rgba(23, 110, 147, 1); sky blue
$color4: rgba(160, 59, 67, 1);
$color5: rgba(25, 49, 66, 1); dark blue */

body {
  margin-top: 10%;
  display: flex;
  color: rgba(25, 49, 66, 1);
  font-family: sans-serif;
  background: rgba(25, 49, 66, 1);
}

mark {
  padding: 5px;
  color: rgba(25, 49, 66, 1);
  background: rgba(192, 207, 219, 1);
}

#sidebar {
  color: rgba(192, 207, 219, 1);
  padding: 20px;
  width: 15%;
  text-align: right;
}

/* grabbed from w3schools */

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

/* end grabbed section */

td {
  background: rgba(117, 180, 214, 1);
  font-size: 0.8em;
  color: rgba(117, 180, 214, 1);
  user-select: none;
}

td:hover {
  background: rgb(55, 108, 131);
  color: rgb(55, 108, 131);
}

.flag {
  background: rgba(160, 59, 67, 1);
  color: rgba(160, 59, 67, 1);
}

.flag:hover {
  background: rgb(110, 40, 46);
  color: rgb(110, 40, 46);
}

.revealed,
.revealed:hover {
  background: rgba(23, 110, 147, 1);
}

table {
  table-layout: fixed;
  width: 500px;
  text-align: center;
  background: rgba(25, 49, 66, 1);
}

body {
  perspective: 250px;
}
